.createContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.createForm form {
  display: grid;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
